<!DOCTYPE html>
<html>
    <title>Help</title>
    <head>
         <link rel="icon" href="./img/Weather.png">
<link rel="stylesheet" href="./css/style.css">
<script type="text/javascript" src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}       
            <p>For Help Contact :{{name}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>